// BLog Header Oak

header.blogHeader {
	padding: 20px;
	background-image: url(images/blog_hero.jpg);
	height: 449px;
	margin-bottom: 35px;
	div.blogTitle {
		padding-top: 140px;
		padding-bottom: 140px;
		width: 50%;
		height: 100%;
		float: right;
		background-color: rgba(255,255,255,0.5);
		text-align: center;
		h1 {
			font-weight: 600;
			font-size: 47px;
			font-size: 4.7rem;
			letter-spacing: 3px;
			letter-spacing: 0.3rem;
		}
		h4{
			font-weight: 300;
			line-height: 28px;
			line-height: 2.8rem;
			letter-spacing: 2px;
			letter-spacing: 0.2rem;
			text-transform: none;
		}

	}
}