// Variables and Fonts

// Variables
	$turkeyGreen: #7BEEC7;
	$white: #FFFFFF;
	$grey: #F4F4F4;
	$darkGrey: #787878;
	$realDark: #383838;

// Fonts
	$Raleway-font:'Raleway', sans-serif;
	$Ubuntu-font: 'Ubuntu', sans-serif;